body {
    height: 50vh;
}

.playground {
    width: 50%;
    height: 50%;
    margin: auto;
    background-color: rgb(80, 51, 7);
    height: 500px;
    position: absolute;
}

body html .root {
    height: 100%;
}

.ball {
    background-color: rgb(243, 237, 237);
    box-shadow: 0 10px 10px -6px;
    position: relative;
    right: 0px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    position: absolute;
}